# drachtio server connection
DRACHTIO_HOST=127.0.0.1
DRACHTIO_PORT=9023
DRACHTIO_SECRET=change_me

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Agent Assist API (optional)
AA_API_IP=
AA_API_PORT=3000
AA_API_ROUTE=siprec-event
AA_API_TIMEOUT_MS=1000
